* {
  font-weight: 310;
  font-style: normal;
}
#hobby {
  color: aqua;
  background: black;
  width: 40%;
  font-variant: small-caps;
}
#domi {
  color: blueviolet;
  background: khaki;
  width: 50%;
  font-style: italic;
  font-variant: small-caps;
}
.domisahu {
  color: orangered;
}
#cycle {
  color: darkred;
  background: chartreuse;
  width: 20%;
  font-style: italic;
  font-variant: small-caps;
}
.sahucycle {
  color: black;
}
#sleep {
  color: lightcoral;
  background: darkorchid;
  width: 20%;
  font-style: italic;
  font-variant: small-caps;
}
.sahasleep {
  color: firebrick;
}
 p{font-weight:700;}
.sash {
  color: red;
  background: aqua;
  font-style: oblique;
}
