#hobby {color:aqua;
  background: black;
}
#domi {color:blueviolet;
  background:khaki;
}
.domisahu {color:orangered;

}
#cycle { color:darkred;
background: chartreuse;
}
.sahucycle{
  color:teal
}
#sleep{
  color: lightcoral;
  background:darkorchid;
}
.sahasleep{
  color:firebrick
}
.sash{
  color:red
}